/* CSS_File */

body {
	background-color:#ADD8E6;
}

img {
	display: block;
	padding-left:10%;
	padding-right:10%;
	max-width: 100%;
	height: auto;
	border-radius:75%;
	margin: auto;
}

h1 {
	color:white;
	text-align:center;
	font-weight:bold;
}

#links {
	color:white;
	text-align:center;
	font-style:italic;
}